#outdated {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 200px;
	text-align: center;
	text-transform: uppercase;
	z-index:1500;
	background-color: $color-red;
	color: #ffffff;

	h1, p {
		color: #FFF;
	}

	h1 {
		margin: 30px 0 20px;
	}

	a:hover {
		background-color: #FFF;
		color: $color-red;
	}

	#last {
		@include font-size(24);
		cursor: pointer;
		position: absolute;
		top: 10px;
		right: 25px;
		width: 44px;
		height: 44px;
		&[dir='rtl'] {
			right: auto !important;
			left: 25px !important;
		}
	}
}
