<!--[if lte IE 10]>
<div id="outdated">
    <h1>Your browser is out-of-date!</h1>
    <p>Update your browser to view this website correctly.</p>
    <a class="btn btn-white" href="http://outdatedbrowser.com/">Update my browser now </a>
    <p id="last">×</p>
</div>

<script>
    document.getElementById("last").onclick = function() {
        document.getElementById("outdated").style.display = "none";
    }
</script>
<!--<![endif]-->
