// GLOBAL COMPONENT STYLES
//----------------------------------------
// All componentss should have consistent padding and borders
@mixin component-mobile-padding {
	padding: $base-component-mobile-padding * 2 $base-component-mobile-padding;
}

@mixin component-tablet-padding {
	padding: $base-component-mobile-padding * 2 $base-component-mobile-padding * 2;
}

@mixin component-desktop-padding {
	padding: ($base-component-mobile-padding * 3) $base-component-desktop-padding;
}

.component {
	@include component-mobile-padding;
}

@media (min-width:$screen-sm) {
	.component {
		@include component-tablet-padding;
	}
}

@media (min-width:$screen-md) {
	.component {
		@include component-desktop-padding;
	}
}

// COMPONENT PADDING EXTENSIONS
//----------------------------------------
%no-padding,
.no-padding {
	padding: 0;
}

%no-side-padding,
.no-side-padding {
	padding-left: 0;
	padding-right: 0;
}

%no-padding-left,
.no-padding-left {
	padding-left: 0;
}

%no-padding-right,
.no-padding-right {
	padding-right: 0;
}

%no-top-padding,
.no-top-padding {
	padding-top: 0;
}

%no-bottom-padding,
.no-bottom-padding {
	padding-bottom: 0;
}

%no-top-bottom-padding,
.no-top-bottom-padding {
	padding-top: 0;
	padding-bottom: 0;
}

@media (min-width:$screen-sm) and (max-width: $screen-md ) {
	%no-extra-padding,
	.no-extra-padding {
		padding: ($base-component-mobile-padding * 2) $base-component-tablet-padding;
	}
	%no-extra-padding-left,
	.no-extra-padding-left {
		padding-left: $base-component-tablet-padding;
	}
	%no-extra-padding-right,
	.no-extra-padding-right {
		padding-right: $base-component-tablet-padding;
	}
}
