$button-height: 40px;

.btn {
    // @include font-size(13);
    display: inline-block;
	position: relative;
    height: $button-height;
    line-height: -2 + $button-height;
	padding: 0 25px;
	font-family: $font-open;
    font-weight: 400;
	text-transform: uppercase;
	border-radius: 0;
	transition: all 0.1s ease-in-out;
  	background-color: transparent;
	border: 1px solid $color-orange;
	color: $color-orange;
	min-width: 155px;
	text-align: center;

	&:not(.btn-disabled):hover, &.on {
		background: $color-orange;
		color: #fff;
		text-decoration: none;

		span {
			transition: all 0.1s ease-in-out;
			color: #fff;
		}
	}

    &.btn-white {
		border-color: #ffffff;
        color: #ffffff;

        &:not(.btn-disabled):hover {
			background: #fff;
			color: $color-orange;
		}
	}
}
