.bg-red {
	border-color: $color-red;
	background-color: $color-red;
}

.bg-yellow {
	border-color: $color-yellow;
	background-color: $color-yellow;
}

.bg-blue {
	border-color: $color-blue;
	background-color: $color-blue;
}

.bg-black {
	border-color: $color-black;
	background-color: $color-black;
}

.bg-grey-5a {
	border-color: $color-grey-5a;
	background-color: $color-grey-5a;
}

.bg-grey-b5 {
	border-color: $color-grey-b5;
	background-color: $color-grey-b5;
}

.bg-light-grey-eb {
	border-color: $color-light-grey-eb;
	background-color: $color-light-grey-eb;
}

.bg-light-grey-f6 {
	border-color: $color-light-grey-f6;
	background-color: $color-light-grey-f6;
}

.bg-white {
	border-color: $color-white;
	background-color: $color-white;
}
