.control-group {
    // Variables
    $input-height: 40px;
    $checkbox-size: 30px;
    $radio-size: 30px;
    $captcha-margin: 30px;

    // Styles
    position: relative;
    margin-bottom: $input-height / 2;

    label {
        display: inline-block;
        margin-bottom: $input-height / 2;
        color: $color-grey-4;
        @include font-size(16);
    }

    input,
    textarea,
    select {
        width: 100%;
        @include font-size(14);
        line-height: $input-height;
        height: $input-height;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 2px;
        border: 1px solid $color-grey-c;
        transition: border-color 0.3s ease-in-out;

        &:focus {
            outline: none;
            border: 1px solid $color-orange;
        }
    }

    textarea {
        min-height: 150px;
        resize: vertical;
        padding: 15px;
        @include line-height(17);
    }

    select {
        -webkit-appearance: none;
    	-moz-appearance: none;
    	appearance: none;
        position: relative;
        background-color: #fff;
        height: $input-height;
    }

    /*
     * Special class for date picker control-group
     */
    &.date {
        position: relative;

        @include icon('icon-calendar', 'after') {
            position: absolute;
            right: 15px;
            height: $input-height;
            color: $color-orange;
            @include line-height(40);
            @include font-size(20);
        }
    }

    .select-wrapper {
        height: $input-height;
        position: relative;

        @include icon('icon-arrow-d-thin', 'after') {
            pointer-events: none;
            height: $input-height;
            width: 50px;
            top: 2px;
            right: 0;
            @include line-height(40);
            color: $color-orange;
            text-align: center;
            position: absolute;
        }
    }

    .captcha {
        margin-bottom: $captcha-margin;
    }

    /*
     * Checkboxes and Radio Buttons
     */
    input[type="checkbox"],
    input[type="radio"] {
        & + label {
            padding-left: $checkbox-size + 15px;
            line-height: $checkbox-size;
        }

        // Hide default checkbox/radio
        &:not(:checked),
        &:checked {
            position: absolute;
            left: -9999px;
        }
    }

    input[type="checkbox"] {

        // Default checkbox
        &:not(:checked) + label:before,
        &:checked + label:before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            display: inline-block;
            width: $checkbox-size;
            height: $checkbox-size;
            left: 0;
            border: 1px solid $color-grey-c;
            border-radius: 2px;
            transition: border-color 0.3s ease-in-out,
                        background-color 0.3s ease-in-out;
        }

        // Icon
        &:checked + label {
            @include icon('icon-tick', 'after') {
                position: absolute;
                width: $checkbox-size;
                height: $checkbox-size;
                @include font-size(14);
                color: #fff;
                left: 7px;
            }
        }

        // Checked checkbox
        &:checked + label:before {
            border: 1px solid $color-orange;
            background-color: $color-orange;
        }
    }

    input[type="radio"] {

        // Default radio
        &:not(:checked) + label:before,
        &:checked + label:before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            display: inline-block;
            width: $radio-size;
            height: $radio-size;
            left: 0;
            border: 1px solid $color-grey-c;
            border-radius: 50%;
            transition: border-color 0.3s ease-in-out,
                        background-color 0.3s ease-in-out;
        }

        // Icon
        &:checked + label:after {
            content: "";
            left: 10px;
            top: 10px;
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #fff;
        }

        // Checked checkbox
        &:checked + label:before {
            border: 1px solid $color-orange;
            background-color: $color-orange;
        }
    }

    /*
     * Toggle Switches
     */
    input.switch + label {
        width: 90px;
        height: 40px;
        border: 1px solid $color-grey-c;
        border-radius: 20px;
        line-height: 40px;
        @include font-size(14);
        transition: border-color 0.3s ease-in-out;
        padding: 0;
        content: "";
        color: transparent;
        position: relative;
        overflow: hidden;
    }

    input.switch:checked + label {
        border-color: $color-orange;
    }

    // Toggle switch handle
    input.switch:not(:checked) + label:before,
    input.switch:checked + label:before {
        border-radius: 50%;
        width: $checkbox-size;
        height: $checkbox-size;
        background-color: $color-grey-8;
        border: none;
        top: 4px;
        left: 4px;
        opacity: 1;
        transition: transform 0.3s ease-in-out,
                    background-color 0.3s ease-in-out;
    }

    // Disable checkbox icon
    input.switch + label:after {
        position: absolute;
        display: inline-block;
        left: 0px;
        height: 40px;
        width: 55px;
        color: $color-grey-4;
        text-align: center;
        @include line-height(40);
        @include font-size(14);
        transition: transform 0.3s ease-in-out;
    }

    input.switch:not(:checked) + label:after {
        content: "Off";
        left: 34px;
        animation: show-off 0.3s linear forwards;
    }

    // Override checkbox icon
    input.switch:checked + label:after {
        content: "On";
        font-family: inherit;
        color: $color-grey-4;
        left: 0px;
        height: 40px;
        width: 55px;
        animation: show-on 0.3s linear forwards;
    }

    // Toggle switch handle
    input.switch:checked + label:before {
        background-color: $color-orange;
        transform: translateX(50px);
    }

    // Success
    &.success input,
    &.success textarea,
    &.success select,
    &.success input:not(:checked) + label:before {
        border-color: $color-success;
    }

    // Error
    &.error input,
    &.error textarea,
    &.error select,
    &.error input:not(:checked) + label:before {
        border-color: $color-error;
    }

    &.error .captcha div div {
        border-radius: 2px;
        border: 1px solid $color-error;
    }

    // Disabled
    input:disabled,
    input:disabled:not(:checked) + label:before,
    input:disabled:checked + label:before {
        background-color: $color-lightgrey-3;
    }

    input:disabled:checked + label:before {
        border-color: $color-grey-c;
    }

    input:disabled:checked + label:after {
        color: $color-grey-8;
    }

    input[type="radio"]:disabled:checked + label:after {
        background-color: $color-grey-8;
    }
}

@media (min-width: $screen-sm) {
    .control-group {
        // Variables
        $component-margin: 60px;
        $captcha-margin: 50px;

        // Styles
        .captcha {
            margin-bottom: $captcha-margin;
        }
    }
}

@keyframes show-on {
    0% {
        left: 34px;
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    50% {
        left: 84px;
    }

    51% {
        left: -50px;
    }

    75% {
        opacity: 0;
    }

    100% {
        left: 0px;
        opacity: 1;
    }
}

@keyframes show-off {
    0% {
        left: 0px;
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    49% {
        left: -50px;
    }

    50% {
        left: 84px;
    }

    75% {
        opacity: 0;
    }

    100% {
        left: 34px;
        opacity: 1;
    }
}
