// HEADING STYLES
//----------------------------------------
@mixin base-heading-styles {
    font-family: $font-open;
    color: $color-red;
    margin-top: 0;
    -webkit-font-smoothing: antialiased;
    // color: white;
}

h1, h2, h3, h4, h5, h6 {
	@include base-heading-styles;
}

//Font Sizes
$h1-mobile: 40;
$h2-mobile: 25;
$h3-mobile: 20;
$h4-mobile: 16;
$h1-ipad: 50;
$h2-ipad: 35;
$h3-ipad: 25;
$h4-ipad: 18;
$h1-desktop: 70;
$h2-desktop: 40;
$h3-desktop: 30;
$h4-desktop: 20;

//Line Heights
$h1-lh-mobile: 50px;
$h2-lh-mobile: 30px;
$h3-lh-mobile: 20px;
$h4-lh-mobile: 18px;
$h1-lh-ipad: 68px;
$h2-lh-ipad: 47px;
$h3-lh-ipad: 34px;
$h4-lh-ipad: 24px;
$h1-lh-desktop: 91px;
$h2-lh-desktop: 55px;
$h3-lh-desktop: 41px;
$h4-lh-desktop: 27px;

h1 {
	@include font-size($h1-mobile);
    line-height: $h1-lh-mobile;
	margin-bottom: 30px;
    font-weight: 300;
}

h2 {
	@include font-size($h2-mobile);
    line-height: $h2-lh-mobile;
	margin-bottom: 30px;
    font-weight: 400;
}

h3 {
	@include font-size($h3-mobile);
    line-height: $h3-lh-mobile;
	margin-bottom: 20px;
    font-weight: 400;
}

h4 {
	@include font-size($h4-mobile);
    line-height: $h4-lh-mobile;
	margin-bottom: 20px;
    font-weight: 600;
}

@media (min-width: $screen-sm) {
	h1 {
		@include font-size($h1-ipad);
        line-height: $h1-lh-ipad;
		margin-bottom: 40px;
	}

	h2 {
		@include font-size($h2-ipad);
        line-height: $h2-lh-ipad;
		margin-bottom: 40px;
	}

	h3 {
        @include font-size($h3-ipad);
        line-height: $h3-lh-ipad;
		margin-bottom: 30px;
	}

	h4 {
        @include font-size($h4-ipad);
        line-height: $h4-lh-ipad;
		margin-bottom: 20px;
	}
}

@media ( min-width: $screen-md ) {

    h1 {
		@include font-size($h1-desktop);
        line-height: $h1-lh-desktop;
	}

	h2 {
		@include font-size($h2-desktop);
        line-height: $h2-lh-desktop;
	}

	h3 {
        @include font-size($h3-desktop);
        line-height: $h3-lh-desktop;
	}

	h4 {
        @include font-size($h4-desktop);
        line-height: $h4-lh-desktop;
	}
}
