// Icon Font @font-face Includes
//----------------------------------------
// Bootstrap default glyphicon pack
@font-face {
  font-family: 'font-awesome-ui';
  src: url('/static/fonts/font-awesome-ui.eot');
  src: url('/static/fonts/font-awesome-ui.eot?#iefix') format('embedded-opentype'),  url('/static/fonts/font-awesome-ui.woff') format('woff'), url('/static/fonts/font-awesome-ui.ttf') format('truetype'), url('/static/fonts/font-awesome-ui.svg#glyphicons_halflingsregular') format('svg');
}

// Match function dependency for icon mixin
// Source: http://hugogiraudel.com/2013/08/12/sass-functions/
@function match($haystack, $needle) {
  @each $item in $haystack {
    $index: index($item, $needle);
    @if $index {
      $return: if($index == 1, 2, $index);
      @return nth($item, $return);
    }
  }
  @return false;
}

// for adding icons to elements using CSS pseudo-elements
// Source: http://jaydenseric.com/blog/fun-with-sass-and-font-icons
@mixin icon($icon: false, $position: 'before', $styles: true) {
  // Either a :before or :after pseudo-element, defaulting to :before
  &:#{$position} {
    @if $icon {
        // Icon has been specified
        content: match($icons, $icon);
    }
    @if $styles {
      // Supportive icon styles have been specified
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-transform: none;
      font: {
        style: normal;
        variant: normal;
        weight: normal;
        family: 'font-awesome-ui';
      }
    }
    // Include any extra rules supplied for the pseudo-element
    @content;
  }
}

$icons: (
    'icon-hdd' '\e81d',
    'icon-key' '\e81e',
    'icon-fork' '\e81f',
    'icon-rocket' '\e820',
    'icon-bug' '\e821',
    'icon-certificate' '\e822',
    'icon-tasks' '\e823',
    'icon-filter' '\e824',
    'icon-beaker' '\e825',
    'icon-magic' '\e826',
    'icon-cab' '\e827',
    'icon-taxi' '\e828',
    'icon-truck' '\e829',
    'icon-bus' '\e82a',
    'icon-bicycle' '\e82b',
    'icon-motorcycle' '\e82c',
    'icon-train' '\e82d',
    'icon-subway' '\e82e',
    'icon-ship' '\e82f',
    'icon-money' '\e830',
    'icon-euro' '\e831',
    'icon-pound' '\e832',
    'icon-dollar' '\e833',
    'icon-rupee' '\e834',
    'icon-yen' '\e835',
    'icon-rouble' '\e836',
    'icon-shekel' '\e837',
    'icon-try' '\e838',
    'icon-won' '\e839',
    'icon-bitcoin' '\e83a',
    'icon-viacoin' '\e83b',
    'icon-sort' '\e83c',
    'icon-sort-down' '\e83d',
    'icon-sort-up' '\e83e',
    'icon-sort-alt-up' '\e83f',
    'icon-sort-alt-down' '\e840',
    'icon-sort-name-up' '\e841',
    'icon-sort-name-down' '\e842',
    'icon-sort-number-up' '\e843',
    'icon-sort-number-down' '\e844',
    'icon-hammer' '\e845',
    'icon-gauge' '\e846',
    'icon-sitemap' '\e847',
    'icon-spinner' '\e848',
    'icon-coffee' '\e849',
    'icon-food' '\e84a',
    'icon-beer' '\e84b',
    'icon-user-md' '\e84c',
    'icon-stethoscope' '\e84d',
    'icon-heartbeat' '\e84e',
    'icon-ambulance' '\e84f',
    'icon-medkit' '\e850',
    'icon-h-sigh' '\e851',
    'icon-bed' '\e852',
    'icon-hospital' '\e853',
    'icon-building' '\e854',
    'icon-building-filled' '\e855',
    'icon-bank' '\e856',
    'icon-smile' '\e857',
    'icon-frown' '\e858',
    'icon-meh' '\e859',
    'icon-anchor' '\e85a',
    'icon-terminal' '\e85b',
    'icon-eraser' '\e85c',
    'icon-puzzle' '\e85d',
    'icon-shield' '\e85e',
    'icon-extinguisher' '\e85f',
    'icon-bullseye' '\e860',
    'icon-wheelchair' '\e861',
    'icon-language' '\e862',
    'icon-graduation-cap' '\e863',
    'icon-paw' '\e864',
    'icon-spoon' '\e865',
    'icon-cube' '\e866',
    'icon-cubes' '\e867',
    'icon-recycle' '\e868',
    'icon-tree' '\e869',
    'icon-database' '\e86a',
    'icon-server' '\e86b',
    'icon-lifebuoy' '\e86c',
    'icon-rebel' '\e86d',
    'icon-empire' '\e86e',
    'icon-bomb' '\e86f',
    'icon-soccer-ball' '\e870',
    'icon-tty' '\e871',
    'icon-binoculars' '\e872',
    'icon-plug' '\e873',
    'icon-newspaper' '\e874',
    'icon-calc' '\e875',
    'icon-copyright' '\e876',
    'icon-at' '\e877',
    'icon-eyedropper' '\e878',
    'icon-brush' '\e879',
    'icon-birthday' '\e87a',
    'icon-diamond' '\e87b',
    'icon-street-view' '\e87c',
    'icon-venus' '\e87d',
    'icon-mars' '\e87e',
    'icon-mercury' '\e87f',
    'icon-transgender' '\e880',
    'icon-transgender-alt' '\e881',
    'icon-venus-double' '\e882',
    'icon-mars-double' '\e883',
    'icon-venus-mars' '\e884',
    'icon-mars-stroke' '\e885',
    'icon-mars-stroke-v' '\e886',
    'icon-mars-stroke-h' '\e887',
    'icon-neuter' '\e888',
    'icon-cc-visa' '\e889',
    'icon-cc-mastercard' '\e88a',
    'icon-cc-discover' '\e88b',
    'icon-cc-amex' '\e88c',
    'icon-cc-paypal' '\e88d',
    'icon-cc-stripe' '\e88e',
    'icon-adn' '\e88f',
    'icon-android' '\e890',
    'icon-angellist' '\e891',
    'icon-apple' '\e892',
    'icon-behance' '\e893',
    'icon-behance-squared' '\e894',
    'icon-bitbucket' '\e895',
    'icon-bitbucket-squared' '\e896',
    'icon-buysellads' '\e897',
    'icon-cc' '\e898',
    'icon-codeopen' '\e899',
    'icon-connectdevelop' '\e89a',
    'icon-css3' '\e89b',
    'icon-dashcube' '\e89c',
    'icon-delicious' '\e89d',
    'icon-deviantart' '\e89e',
    'icon-digg' '\e89f',
    'icon-dribbble' '\e8a0',
    'icon-dropbox' '\e8a1',
    'icon-drupal' '\e8a2',
    'icon-facebook' '\e8a3',
    'icon-facebook-squared' '\e8a4',
    'icon-facebook-official' '\e8a5',
    'icon-flickr' '\e8a6',
    'icon-forumbee' '\e8a7',
    'icon-foursquare' '\e8a8',
    'icon-git-squared' '\e8a9',
    'icon-git' '\e8aa',
    'icon-github' '\e8ab',
    'icon-github-squared' '\e8ac',
    'icon-github-circled' '\e8ad',
    'icon-gittip' '\e8ae',
    'icon-google' '\e8af',
    'icon-gplus' '\e8b0',
    'icon-gplus-squared' '\e8b1',
    'icon-gwallet' '\e8b2',
    'icon-hacker-news' '\e8b3',
    'icon-html5' '\e8b4',
    'icon-instagram' '\e8b5',
    'icon-ioxhost' '\e8b6',
    'icon-joomla' '\e8b7',
    'icon-jsfiddle' '\e8b8',
    'icon-lastfm' '\e8b9',
    'icon-lastfm-squared' '\e8ba',
    'icon-leanpub' '\e8bb',
    'icon-linkedin-squared' '\e8bc',
    'icon-linux' '\e8bd',
    'icon-linkedin' '\e8be',
    'icon-maxcdn' '\e8bf',
    'icon-meanpath' '\e8c0',
    'icon-openid' '\e8c1',
    'icon-pagelines' '\e8c2',
    'icon-paypal' '\e8c3',
    'icon-pied-piper-squared' '\e8c4',
    'icon-pied-piper-alt' '\e8c5',
    'icon-pinterest' '\e8c6',
    'icon-pinterest-circled' '\e8c7',
    'icon-pinterest-squared' '\e8c8',
    'icon-qq' '\e8c9',
    'icon-reddit' '\e8ca',
    'icon-reddit-squared' '\e8cb',
    'icon-renren' '\e8cc',
    'icon-sellsy' '\e8cd',
    'icon-shirtsinbulk' '\e8ce',
    'icon-simplybuilt' '\e8cf',
    'icon-skyatlas' '\e8d0',
    'icon-skype' '\e8d1',
    'icon-slack' '\e8d2',
    'icon-slideshare' '\e8d3',
    'icon-soundcloud' '\e8d4',
    'icon-spotify' '\e8d5',
    'icon-stackexchange' '\e8d6',
    'icon-stackoverflow' '\e8d7',
    'icon-steam' '\e8d8',
    'icon-steam-squared' '\e8d9',
    'icon-stumbleupon' '\e8da',
    'icon-stumbleupon-circled' '\e8db',
    'icon-tencent-weibo' '\e8dc',
    'icon-trello' '\e8dd',
    'icon-tumblr' '\e8de',
    'icon-tumblr-squared' '\e8df',
    'icon-twitch' '\e8e0',
    'icon-twitter-squared' '\e8e1',
    'icon-twitter' '\e8e2',
    'icon-vimeo-squared' '\e8e3',
    'icon-vine' '\e8e4',
    'icon-vkontakte' '\e8e5',
    'icon-whatsapp' '\e8e6',
    'icon-wechat' '\e8e7',
    'icon-weibo' '\e8e8',
    'icon-windows' '\e8e9',
    'icon-wordpress' '\e8ea',
    'icon-xing' '\e8eb',
    'icon-xing-squared' '\e8ec',
    'icon-yelp' '\e8ed',
    'icon-youtube' '\e8ee',
    'icon-yahoo' '\e8ef',
    'icon-youtube-squared' '\e8f0',
    'icon-youtube-play' '\e8f1',
    'icon-blank' '\e8f2',
    'icon-lemon' '\e8f3',
    'icon-link' '\e8f4',
    'icon-unlink' '\e8f5',
    'icon-link-ext' '\e8f6',
    'icon-link-ext-alt' '\e8f7',
    'icon-attach' '\e8f8',
    'icon-lock' '\e8f9',
    'icon-lock-open' '\e8fa',
    'icon-lock-open-alt' '\e8fb',
    'icon-pin' '\e8fc',
    'icon-eye' '\e8fd',
    'icon-eye-off' '\e8fe',
    'icon-tag' '\e8ff',
    'icon-tags' '\e900',
    'icon-bookmark' '\e901',
    'icon-bookmark-empty' '\e902',
    'icon-flag' '\e903',
    'icon-flag-empty' '\e904',
    'icon-flag-checkered' '\e905',
    'icon-thumbs-up' '\e906',
    'icon-thumbs-down' '\e907',
    'icon-thumbs-up-alt' '\e908',
    'icon-thumbs-down-alt' '\e909',
    'icon-download' '\e90a',
    'icon-upload' '\e90b',
    'icon-download-cloud' '\e90c',
    'icon-upload-cloud' '\e90d',
    'icon-reply' '\e90e',
    'icon-reply-all' '\e90f',
    'icon-forward' '\e910',
    'icon-quote-left' '\e911',
    'icon-quote-right' '\e912',
    'icon-code' '\e913',
    'icon-export' '\e914',
    'icon-export-alt' '\e915',
    'icon-share' '\e916',
    'icon-share-squared' '\e917',
    'icon-pencil' '\e918',
    'icon-pencil-squared' '\e919',
    'icon-edit' '\e91a',
    'icon-print' '\e91b',
    'icon-retweet' '\e91c',
    'icon-keyboard' '\e91d',
    'icon-gamepad' '\e91e',
    'icon-comment' '\e91f',
    'icon-chat' '\e920',
    'icon-comment-empty' '\e921',
    'icon-chat-empty' '\e922',
    'icon-bell' '\e923',
    'icon-bell-alt' '\e924',
    'icon-bell-off' '\e925',
    'icon-bell-off-empty' '\e926',
    'icon-attention-alt' '\e927',
    'icon-attention' '\e928',
    'icon-attention-circled' '\e929',
    'icon-location-1' '\e92a',
    'icon-direction' '\e92b',
    'icon-compass' '\e92c',
    'icon-trash' '\e92d',
    'icon-trash-empty' '\e92e',
    'icon-doc' '\e92f',
    'icon-docs' '\e930',
    'icon-doc-text' '\e931',
    'icon-doc-inv' '\e932',
    'icon-doc-text-inv' '\e933',
    'icon-file-pdf' '\e934',
    'icon-file-word' '\e935',
    'icon-file-excel' '\e936',
    'icon-file-powerpoint' '\e937',
    'icon-file-image' '\e938',
    'icon-file-archive' '\e939',
    'icon-file-audio' '\e93a',
    'icon-file-video' '\e93b',
    'icon-file-code' '\e93c',
    'icon-folder' '\e93d',
    'icon-folder-open' '\e93e',
    'icon-folder-empty' '\e93f',
    'icon-folder-open-empty' '\e940',
    'icon-box' '\e941',
    'icon-rss' '\e942',
    'icon-rss-squared' '\e943',
    'icon-phone-1' '\e944',
    'icon-phone-squared' '\e945',
    'icon-fax' '\e946',
    'icon-menu-1' '\e947',
    'icon-cog' '\e948',
    'icon-cog-alt' '\e949',
    'icon-wrench' '\e94a',
    'icon-sliders' '\e94b',
    'icon-basket' '\e94c',
    'icon-cart-plus' '\e94d',
    'icon-cart-arrow-down' '\e94e',
    'icon-calendar' '\e94f',
    'icon-calendar-empty' '\e950',
    'icon-login' '\e951',
    'icon-logout' '\e952',
    'icon-mic' '\e953',
    'icon-mute' '\e954',
    'icon-volume-off' '\e955',
    'icon-volume-down' '\e956',
    'icon-volume-up' '\e957',
    'icon-headphones' '\e958',
    'icon-clock' '\e959',
    'icon-lightbulb' '\e95a',
    'icon-block' '\e95b',
    'icon-resize-full' '\e95c',
    'icon-resize-full-alt' '\e95d',
    'icon-resize-small' '\e95e',
    'icon-resize-vertical' '\e95f',
    'icon-resize-horizontal' '\e960',
    'icon-move' '\e961',
    'icon-zoom-in' '\e962',
    'icon-zoom-out' '\e963',
    'icon-down-circled2' '\e964',
    'icon-up-circled2' '\e965',
    'icon-left-circled2' '\e966',
    'icon-right-circled2' '\e967',
    'icon-down-dir' '\e968',
    'icon-up-dir' '\e969',
    'icon-left-dir' '\e96a',
    'icon-right-dir' '\e96b',
    'icon-down-open' '\e96c',
    'icon-left-open' '\e96d',
    'icon-right-open' '\e96e',
    'icon-up-open' '\e96f',
    'icon-angle-left' '\e970',
    'icon-angle-right' '\e971',
    'icon-angle-up' '\e972',
    'icon-angle-down' '\e973',
    'icon-angle-circled-left' '\e974',
    'icon-angle-circled-right' '\e975',
    'icon-angle-circled-up' '\e976',
    'icon-angle-circled-down' '\e977',
    'icon-angle-double-left' '\e978',
    'icon-angle-double-right' '\e979',
    'icon-angle-double-up' '\e97a',
    'icon-angle-double-down' '\e97b',
    'icon-down' '\e97c',
    'icon-left' '\e97d',
    'icon-right' '\e97e',
    'icon-up' '\e97f',
    'icon-down-big' '\e980',
    'icon-left-big' '\e981',
    'icon-right-big' '\e982',
    'icon-up-big' '\e983',
    'icon-right-hand' '\e984',
    'icon-left-hand' '\e985',
    'icon-up-hand' '\e986',
    'icon-down-hand' '\e987',
    'icon-left-circled' '\e988',
    'icon-right-circled' '\e989',
    'icon-up-circled' '\e98a',
    'icon-down-circled' '\e98b',
    'icon-cw' '\e98c',
    'icon-ccw' '\e98d',
    'icon-arrows-cw' '\e98e',
    'icon-level-up' '\e98f',
    'icon-level-down' '\e990',
    'icon-shuffle' '\e991',
    'icon-exchange' '\e992',
    'icon-history' '\e993',
    'icon-expand' '\e994',
    'icon-collapse' '\e995',
    'icon-expand-right' '\e996',
    'icon-collapse-left' '\e997',
    'icon-play' '\e998',
    'icon-play-circled' '\e999',
    'icon-play-circled2' '\e99a',
    'icon-stop' '\e99b',
    'icon-pause' '\e99c',
    'icon-to-end' '\e99d',
    'icon-to-end-alt' '\e99e',
    'icon-to-start' '\e99f',
    'icon-to-start-alt' '\e9a0',
    'icon-fast-fw' '\e9a1',
    'icon-fast-bw' '\e9a2',
    'icon-eject' '\e9a3',
    'icon-target' '\e9a4',
    'icon-signal' '\e9a5',
    'icon-wifi' '\e9a6',
    'icon-award' '\e9a7',
    'icon-desktop' '\e9a8',
    'icon-laptop' '\e9a9',
    'icon-tablet' '\e9aa',
    'icon-mobile-1' '\e9ab',
    'icon-inbox' '\e9ac',
    'icon-globe' '\e9ad',
    'icon-sun' '\e9ae',
    'icon-cloud' '\e9af',
    'icon-flash' '\e9b0',
    'icon-moon' '\e9b1',
    'icon-umbrella' '\e9b2',
    'icon-flight' '\e9b3',
    'icon-fighter-jet' '\e9b4',
    'icon-paper-plane' '\e9b5',
    'icon-paper-plane-empty' '\e9b6',
    'icon-space-shuttle' '\e9b7',
    'icon-leaf' '\e9b8',
    'icon-font' '\e9b9',
    'icon-bold' '\e9ba',
    'icon-medium' '\e9bb',
    'icon-italic' '\e9bc',
    'icon-header' '\e9bd',
    'icon-paragraph' '\e9be',
    'icon-text-height' '\e9bf',
    'icon-text-width' '\e9c0',
    'icon-align-left' '\e9c1',
    'icon-align-center' '\e9c2',
    'icon-align-right' '\e9c3',
    'icon-align-justify' '\e9c4',
    'icon-list' '\e9c5',
    'icon-indent-left' '\e9c6',
    'icon-indent-right' '\e9c7',
    'icon-list-bullet' '\e9c8',
    'icon-list-numbered' '\e9c9',
    'icon-strike' '\e9ca',
    'icon-underline' '\e9cb',
    'icon-superscript' '\e9cc',
    'icon-subscript' '\e9cd',
    'icon-table' '\e9ce',
    'icon-columns' '\e9cf',
    'icon-crop' '\e9d0',
    'icon-scissors' '\e9d1',
    'icon-paste' '\e9d2',
    'icon-briefcase' '\e9d3',
    'icon-suitcase' '\e9d4',
    'icon-ellipsis' '\e9d5',
    'icon-ellipsis-vert' '\e9d6',
    'icon-off' '\e9d7',
    'icon-road' '\e9d8',
    'icon-list-alt' '\e9d9',
    'icon-qrcode' '\e9da',
    'icon-barcode' '\e9db',
    'icon-book' '\e9dc',
    'icon-ajust' '\e9dd',
    'icon-tint' '\e9de',
    'icon-toggle-off' '\e9df',
    'icon-toggle-on' '\e9e0',
    'icon-check' '\e9e1',
    'icon-check-empty' '\e9e2',
    'icon-circle' '\e9e3',
    'icon-circle-empty' '\e9e4',
    'icon-circle-thin' '\e9e5',
    'icon-circle-notch' '\e9e6',
    'icon-dot-circled' '\e9e7',
    'icon-asterisk' '\e9e8',
    'icon-gift' '\e9e9',
    'icon-fire' '\e9ea',
    'icon-magnet' '\e9eb',
    'icon-chart-bar' '\e9ec',
    'icon-chart-area' '\e9ed',
    'icon-chart-pie' '\e9ee',
    'icon-chart-line' '\e9ef',
    'icon-ticket' '\e9f0',
    'icon-credit-card' '\e9f1',
    'icon-floppy' '\e9f2',
    'icon-megaphone' '\e9f3',
    'icon-glass' '\e9f4',
    'icon-music' '\e9f5',
    'icon-search-1' '\e9f6',
    'icon-mail' '\e9f7',
    'icon-mail-alt' '\e9f8',
    'icon-mail-squared' '\e9f9',
    'icon-heart' '\e9fa',
    'icon-heart-empty' '\e9fb',
    'icon-star' '\e9fc',
    'icon-star-empty' '\e9fd',
    'icon-star-half' '\e9fe',
    'icon-star-half-alt' '\e9ff',
    'icon-user' '\ea00',
    'icon-user-plus' '\ea01',
    'icon-user-times' '\ea02',
    'icon-users' '\ea03',
    'icon-male' '\ea04',
    'icon-female' '\ea05',
    'icon-child' '\ea06',
    'icon-user-secret' '\ea07',
    'icon-video' '\ea08',
    'icon-videocam' '\ea09',
    'icon-picture' '\ea0a',
    'icon-camera' '\ea0b',
    'icon-camera-alt' '\ea0c',
    'icon-th-large' '\ea0d',
    'icon-th' '\ea0e',
    'icon-th-list' '\ea0f',
    'icon-ok' '\ea10',
    'icon-ok-circled' '\ea11',
    'icon-ok-circled2' '\ea12',
    'icon-ok-squared' '\ea13',
    'icon-cancel' '\ea14',
    'icon-cancel-circled' '\ea15',
    'icon-cancel-circled2' '\ea16',
    'icon-plus' '\ea17',
    'icon-plus-circled' '\ea18',
    'icon-plus-squared' '\ea19',
    'icon-plus-squared-alt' '\ea1a',
    'icon-minus' '\ea1b',
    'icon-minus-circled' '\ea1c',
    'icon-minus-squared' '\ea1d',
    'icon-minus-squared-alt' '\ea1e',
    'icon-help' '\ea1f',
    'icon-help-circled' '\ea20',
    'icon-info-circled' '\ea21',
    'icon-info' '\ea22',
    'icon-home' '\ea23'
);
