// LIST STYLES
//----------------------------------------
ul,
ol {
    margin-bottom: 30px;

    li {
        line-height: $base-line-height;
        margin-bottom: 5px;
    }
}

ol {
	padding-left: 30px;

	li {
		position: relative;
		counter-increment: step-counter;

		&:before{
			content: counter(step-counter) ".";
			color: $color-red;
			position: absolute;
			left: -30px;
			font-weight: normal;
		}
	}
}

ul {
	li {
		position: relative;
		padding-left: 30px;

		&:before {
			position: absolute;
			left: 0px;
			top: 5px;
			content: '';
			display: block;
			width: 7px;
			height: 7px;
			border-radius: 100%;
            background-color: $color-red;
		}
	}
}

@media (min-width: $screen-sm) {
    ul li,
	ol li {
		line-height: $desktop-line-height;
	}
}
