// TEXT STYLES
//----------------------------------------
p {
    font-weight: 400;
    line-height: $base-line-height;
    margin-bottom: 15px;
}

p.lead {
    @include font-size(18);
    line-height: 21px;
    margin-bottom: 20px;
}

p strong {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: $color-blue;
    font-weight: 400;
    line-height: $base-line-height;
    margin-bottom: 15px;

    &:hover {
        text-decoration: underline;
    }
}

@media (min-width: $screen-sm) {
    p,
    a {
        @include font-size($desktop-font-size);
        line-height: $desktop-line-height;
    }

    p.lead {
        @include font-size(20);
        line-height: 23px;
    }
}
