html {
    font-size: 10px;
}

body {
    font-family: $font-open;
    @include font-size($base-font-size);
}

@media (min-width: $screen-sm) {
    body {
        @include font-size($desktop-font-size);
    }
}

@import './headings';
@import './text';
@import './lists';
