// Bootstrap Grid Variables
// Available globally for media queries
//----------------------------------------
$screen-xxs:                 0px !default;
$screen-xs:                  480px !default;
$screen-sm:                  768px !default;
$screen-md:                  1024px !default;
$screen-lg:                  1220px !default;
$screen-xlg:                 1600px !default;
$screen-padding:             20px !default;

// Base Font / Font Size / Line Heights
//----------------------------------------
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
$font-open: 'Open Sans', sans-serif;
$base-font-size: 13 !default;
$base-line-height: 18px !default;
$desktop-font-size: 16 !default;
$desktop-line-height: 20px !default;

// COLORS
//----------------------------------------
$color-red: #C02427;
$color-yellow: #E1C32A;
$color-blue: #0C479D;
$color-black : #000000;
$color-grey-5a: #5a5a5a;
$color-grey-b5: #B5B5B5;
$color-light-grey-eb: #EBEBEB;
$color-light-grey-f6: #F6F6F6;
$color-white : #ffffff; 

$color-default: #333333;
$color-white: #FFFFFF;
$color-orange: #F9792F;
$color-border: #e3dad4;
$color-grey-c: #CCCCCC;
$color-grey-2: #222222;
$color-grey-4: #222222;
$color-grey-8: #888888;
$color-error: #E95337;
$color-success: #42BD41;
$color-lightgrey-3:  #F6F6F6;

// Components
//----------------------------------------
$base-component-mobile-padding: 20px;
$base-component-tablet-padding: 20px;
$base-component-desktop-padding: 30px;
