<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<style>

	body {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		margin: 0;
	}

	ul {
		list-style: none;
		margin: 0;
		display: block;
		padding: 20px;
		overflow: hidden;
	}

	ul li {
		margin-bottom: 10px;
		float: left;
		clear: left;
		width: 100%;
	}

	ul li a {
		border-radius: 5px;
		color: #0068B3;
		text-decoration: none;
		display: block;
		padding: 5px 10px;
		background-color: #dfdbd8;
		text-decoration: none;
		height: 44px;
		text-align: center;
		line-height: 44px;
	}

	ul li a:hover {
		opacity: 0.8;
	}

	@media (min-width:768px) {

		ul li {
			width: 290px;
		}
	}

	</style>
</head>
<body>
    <ul>
        {{#each templateListing}}
            <li><a href="{{this.url}}">{{this.name}}</a></li>
        {{/each}}
    </ul>
    {{#if jenkins.enabled}}
        Build: <a href="{{jenkins.url}}">{{jenkins.number}}</a> ({{jenkins.timestamp}})
    {{/if}}
</body>
</html>
