---
layout: master
---
<div class="kitchen-sink">
    <div class="container-fluid">
        <section class="intro">
            <h1>Boilerplate Kitchen Sink</h1>
            <p>Global styles for a project. Based on, and should match, the <a href="https://projects.invisionapp.com/d/main#/projects/4659684">design</a> version.</p>
            <ul>
                <li><a href="#grid">Grid System</a></li>
                <li><a href="#breakpoints">Responsive breakpoints</a></li>
                <li><a href="#typography">Typography</a></li>
                <li><a href="#buttons">Buttons</a></li>
                <li><a href="#colours">Colours</a></li>
                <li><a href="#icons">Icons</a></li>
                <li><a href="#slider">Slider</a></li>
                <li><a href="#forms">Forms</a></li>
                <li><a href="#components">Components</a></li>
                <li><a href="#accordions">Accordions</a></li>
                <li><a href="#pagination">Pagination</a></li>
            </ul>
        </section>

        <section class="grid-eg">
            <a id="grid"></a>
            <h6>Grid System</h6>
            <p>JCVD uses the Bootstrap grid system. You can find more in depth examples and information about it </p>
        </section>

        <section class="breakpoints">
            <a id="breakpoints"></a>
            <h6>Responsive Breakpoints</h6>
            <p>Default breakpoints are:</p>
            <ul>
                <li><span>$screen-xxs:</span>0px</li>
                <li><span>$screen-xs:</span>480px</li>
                <li><span>$screen-sm:</span>768px</li>
                <li><span>$screen-md:</span>1024px</li>
                <li><span>$screen-lg:</span>1220px</li>
                <li><span>$screen-xlg:</span>1600px</li>
            </ul>
        </section>

        <section class="typography">
            <a id="typography"></a>
            <div class="mobile">
                <h6>Headings</h6>

                <h1>h1 (iphone) - open sans light, 40px</h1>
                <h2>h2 (iphone) - open sans regular, 25px</h2>
                <h3>h3 (iphone) - open sans regular, 20px</h3>
                <h4>h4 (iphone) - open sans semi-bold, 18px</h4>

                <h6>Text</h6>
                <p class="lead">p lead (iphone) - open sans regular, 18px / 1.8rem. Warehouse chic chapel street, dumplings bourke st mall cookie geoffrey rush rocking out the espy, laksa king pellegrini's shane warne citylink myki queues.</p>
                <p>p - open sans regular, 13px / 1.3rem. Lygon street spruikers brunswick and brunswick st, etihad stadium richmond tigers avalon is so not melb don dons NGV culture fix, richmond tigers flemington racecourse empire of the sun rocking out the espy formula one grand prix, melbourne cricket ground geoffrey rush the bulldogs burlesque graffiti, emerald peacock bill clinton ate two bowls north of the river.</p>
                <p>The rebels bill clinton ate two bowls, prahran hipsters the bulldogs victoria street dodgies collins place carlton, essendon bombers south of the river the emerald peacock ac/dc ticket inspector, rocking out the espy cate blanchette ball brown alley a macaron connoisseur, avalon is so not melb south melb dim sims flemington racecourse.</p>
                <p><strong>p 13 strong - open sans semi-bold, 13px / 1.3rem.</strong></p>
                <a href="#">link 13 - open sans semi-bold, 13px / 1.3rem.</a>

                <h6>Lists</h6>
                <ul>
                    <li>list 13 - open sans regular, 13px / 1.3rem. Rooftop bars brown alley, south of the river footy movida the corner hotel the hawks</li>
                    <li>The croft institute frankston bogans chaddie spiegeltent essendon bombers</li>
                    <li>Secret laneway bars don dons the rebels lygon street spruikers lions bar, old melbourne gaol the bulldogs tullamarine.</li>
                </ul>
                <ol>
                    <li>list 13 - open sans regular, 13px / 1.3rem. Rooftop bars brown alley, south of the river footy movida the corner hotel the hawks</li>
                    <li>The croft institute frankston bogans chaddie spiegeltent essendon bombers</li>
                    <li>Secret laneway bars don dons the rebels lygon street spruikers lions bar, old melbourne gaol the bulldogs tullamarine.</li>
                </ol>
            </div>

            <div class="tablet">
                <h6>Headings</h6>
                <h1>h1 (ipad) - open sans light, 50px</h1>
                <h2>h2 (ipad) - open sans regular, 35px</h2>
                <h3>h3 (ipad) - open sans regular, 25px</h3>
                <h4>h4 (ipad) - open sans semi-bold, 18px</h4>

                <h6>Text</h6>
                <p class="lead">p lead (iphone) - open sans regular, 18px / 1.8rem. Warehouse chic chapel street, dumplings bourke st mall cookie geoffrey rush rocking out the espy, laksa king pellegrini's shane warne citylink myki queues.</p>
                <p>p - open sans regular, 13px / 1.3rem. Lygon street spruikers brunswick and brunswick st, etihad stadium richmond tigers avalon is so not melb don dons NGV culture fix, richmond tigers flemington racecourse empire of the sun rocking out the espy formula one grand prix, melbourne cricket ground geoffrey rush the bulldogs burlesque graffiti, emerald peacock bill clinton ate two bowls north of the river.</p>
                <p>The rebels bill clinton ate two bowls, prahran hipsters the bulldogs victoria street dodgies collins place carlton, essendon bombers south of the river the emerald peacock ac/dc ticket inspector, rocking out the espy cate blanchette ball brown alley a macaron connoisseur, avalon is so not melb south melb dim sims flemington racecourse.</p>
                <p><strong>p 13 strong - open sans semi-bold, 13px / 1.3rem.</strong></p>
                <a href="#">link 13 - open sans semi-bold, 13px / 1.3rem.</a>

                <h6>Lists</h6>
                <ul>
                    <li>list 13 - open sans regular, 13px / 1.3rem. Rooftop bars brown alley, south of the river footy movida the corner hotel the hawks</li>
                    <li>The croft institute frankston bogans chaddie spiegeltent essendon bombers</li>
                    <li>Secret laneway bars don dons the rebels lygon street spruikers lions bar, old melbourne gaol the bulldogs tullamarine.</li>
                </ul>
                <ol>
                    <li>list 13 - open sans regular, 13px / 1.3rem. Rooftop bars brown alley, south of the river footy movida the corner hotel the hawks</li>
                    <li>The croft institute frankston bogans chaddie spiegeltent essendon bombers</li>
                    <li>Secret laneway bars don dons the rebels lygon street spruikers lions bar, old melbourne gaol the bulldogs tullamarine.</li>
                </ol>
            </div>

            <div class="desktop">
                <h6>Headings</h6>
                <h1>h1 (desktop) - open sans light, 70px</h1>
                <h2>h2 (desktop) - open sans regular, 40px</h2>
                <h3>h3 (desktop) - open sans regular, 30px</h3>
                <h4>h4 (desktop) - open sans semi-bold, 20px</h4>

                <h6>Text</h6>
                <p class="lead">p lead (iphone) - open sans regular, 20px / 2rem. Warehouse chic chapel street, dumplings bourke st mall cookie geoffrey rush rocking out the espy, laksa king pellegrini's shane warne citylink myki queues.</p>
                <p>p - open sans regular, 16px / 1.6rem. Lygon street spruikers brunswick and brunswick st, etihad stadium richmond tigers avalon is so not melb don dons NGV culture fix, richmond tigers flemington racecourse empire of the sun rocking out the espy formula one grand prix, melbourne cricket ground geoffrey rush the bulldogs burlesque graffiti, emerald peacock bill clinton ate two bowls north of the river.</p>
                <p>The rebels bill clinton ate two bowls, prahran hipsters the bulldogs victoria street dodgies collins place carlton, essendon bombers south of the river the emerald peacock ac/dc ticket inspector, rocking out the espy cate blanchette ball brown alley a macaron connoisseur, avalon is so not melb south melb dim sims flemington racecourse.</p>
                <p><strong>p strong - open sans semi-bold, 16px / 1.6rem.</strong></p>
                <a href="#">link - open sans semi-bold, 16px / 1.6rem.</a>

                <h6>Lists</h6>
                <ul>
                    <li>list 13 - open sans regular, 13px / 1.3rem. Rooftop bars brown alley, south of the river footy movida the corner hotel the hawks</li>
                    <li>The croft institute frankston bogans chaddie spiegeltent essendon bombers</li>
                    <li>Secret laneway bars don dons the rebels lygon street spruikers lions bar, old melbourne gaol the bulldogs tullamarine.</li>
                </ul>
                <ol>
                    <li>list 13 - open sans regular, 13px / 1.3rem. Rooftop bars brown alley, south of the river footy movida the corner hotel the hawks</li>
                    <li>The croft institute frankston bogans chaddie spiegeltent essendon bombers</li>
                    <li>Secret laneway bars don dons the rebels lygon street spruikers lions bar, old melbourne gaol the bulldogs tullamarine.</li>
                </ol>
            </div>
        </section>

        <section class="buttons">
            <a id="buttons"></a>
            <h6>Buttons</h6>
            <a href="#" class="btn">Default Button</a>
            <div class="bg-colour bg-orange">
                <a href="#" class="btn btn-white">Alt Button</a>
            </div>
        </section>

        <section class="colours">
            <a id="colours"></a>
            <h6>Colour Swatches</h6>
            <div class="colour">
                <div class="bg-red"></div>
                <span>primary #C02427</span>
            </div>
            <div class="colour">
                <div class="bg-yellow"></div>
                <span>secondary 1 #E1C32A</span>
            </div>
            <div class="colour">
                <div class="bg-blue"></div>
                <span>secondary 2 #0C479D</span>
            </div>
            <div class="colour">
                <div class="bg-black"></div>
                <span>black #000000</span>
            </div>
            <div class="colour">
                <div class="bg-grey-5a"></div>
                <span>grey 1 #5a5a5a</span>
            </div>
            <div class="colour">
                <div class="bg-grey-b5"></div>
                <span>grey 2 #B5B5B5</span>
            </div>
            <div class="colour">
                <div class="bg-light-grey-eb"></div>
                <span>light grey 1 #EBEBEB</span>
            </div>
            <div class="colour">
                <div class="bg-light-grey-f6"></div>
                <span>light grey 2 #F6F6F6</span>
            </div>
            <div class="colour">
                <div class="bg-white"></div>
                <span>white #ffffff</span>
            </div>
        </section>

        <section class="icons">
            <a id="icons"></a>
            <h6>Icons</h6>
            <p>Icons should be included as invididual SVGs, and we should be reusing Icons that are common in all projects, such as.</p>
            <div>Twitter</div>
            <div>Facebook</div>
            <div>YouTube</div>
            <div>Icon Arrow Left</div>
            <div>Icon Arrow Right</div>
            <div>Icon Arrow Up</div>
            <div>Icon Arrow Down</div>
            <div>Icon Print</div>
            <div>Icon Cross</div>
            <div>Icon Search</div>
            <div>Icon plus</div>
            <p>Fill this list out with more common icons.</p>
        </section>

        <section class="slider">
            <a id="slider"></a>
            <h6>Slider</h6>
            <p>Default slider is <a href="http://kenwheeler.github.io/slick/">Slick Slider</a>. It's pleasant to look at, functions well, and is developer friendly.</p>
            <ul>
                <li>Slider dots - options for top bottom, left right center alignment.
                </li>
                <li>slider arrows</li>
                <li>responsive example.</li>
            </ul>
            <slider-example />
        </section>

        <section class="forms">
            <a id="forms"></a>
            <h6>(Kentico) Forms</h6>
            <p>Ideally Kentico form elements would be standardized between JCVD and Kentico to ensure that form elements work out of the box.</p>
            <div class="row">
                <div class="col-sm-6">
                    <div class="control-group">
                        <label for="text">Text Input</label>
                        <input type="text" id="text" name="text" placeholder="Text Input" />
                    </div>

                    <div class="control-group error">
                        <label for="textError">Text Input Error</label>
                        <input type="text" id="textError" name="textError" placeholder="Text Input Error" />
                    </div>

                    <div class="control-group success">
                        <label for="textSuccess">Text Input Success</label>
                        <input type="text" id="textSuccess" name="textSuccess" placeholder="Text Input Success" />
                    </div>

                    <div class="control-group">
                        <label for="textDisabled">Text Input Disabled</label>
                        <input type="text" id="textDisabled" name="textDisabled" placeholder="Text Input Disabled" disabled="true" />
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="control-group">
                        <label for="textArea">Text Area</label>
                        <textarea id="textArea" placeholder="Text Area">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</textarea>
                    </div>

                    <div class="control-group">
                        <label for="dropdown">Dropdown</label>
                        <div class="select-wrapper">
                            <select id="dropdown">
                                <option value="one">Option One</option>
                                <option value="two">Option Two</option>
                                <option value="three">Option Three</option>
                                <option value="four">Option Four</option>
                                <option value="five">Option Five</option>
                            </select>
                        </div>
                    </div>

                    <datepicker />

                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">

                    <div class="control-group">
                        <input type="checkbox" id="check" name="checkbox" />
                        <label for="check">Checkbox - Default</label>
                    </div>

                    <div class="control-group">
                        <input type="checkbox" id="checkChecked" name="checkChecked" checked="true"/>
                        <label for="checkChecked">Checkbox - Checked</label>
                    </div>

                    <div class="control-group error">
                        <input type="checkbox" id="checkError" name="checkError" />
                        <label for="checkError">Checkbox - Error</label>
                    </div>

                </div>

                <div class="col-sm-6">

                    <div class="control-group success">
                        <input type="checkbox" id="checkSuccess" name="checkSuccess" />
                        <label for="checkSuccess">Checkbox - Success</label>
                    </div>

                    <div class="control-group">
                        <input type="checkbox" id="checkDisabled" name="checkDisabled" disabled="true" />
                        <label for="checkDisabled">Checkbox - Disabled</label>
                    </div>

                    <div class="control-group">
                        <input type="checkbox" id="checkCheckedDisabled" name="checkCheckedDisabled" disabled="true" checked="true" />
                        <label for="checkCheckedDisabled">Checkbox - Checked &amp; Disabled</label>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <form>
                    <div class="control-group">
                        <input type="radio" id="radio" name="radio" />
                        <label for="radio">Radio - Default</label>
                    </div>
                    </form>

                    <form>
                    <div class="control-group">
                        <input type="radio" id="radioChecked" name="radioChecked" checked="true"/>
                        <label for="radioChecked">Radio - Checked</label>
                    </div>
                    </form>

                    <form>
                    <div class="control-group error">
                        <input type="radio" id="radioError" name="radioError" />
                        <label for="radioError">Radio - Error</label>
                    </div>
                    </form>

                </div>

                <div class="col-sm-6">

                    <form>
                    <div class="control-group success">
                        <input type="radio" id="radioSuccess" name="radioSuccess" />
                        <label for="radioSuccess">Radio - Success</label>
                    </div>
                    </form>

                    <form>
                    <div class="control-group">
                        <input type="radio" id="radioDisabled" name="radioDisabled" disabled="true" />
                        <label for="radioDisabled">Radio - Disabled</label>
                    </div>
                    </form>

                    <form>
                    <div class="control-group">
                        <input type="radio" id="radioCheckedDisabled" name="radioCheckedDisabled" disabled="true" checked="true" />
                        <label for="radioCheckedDisabled">Radio - Checked &amp; Disabled</label>
                    </div>
                    </form>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="control-group">
                        <input type="checkbox" class="switch" id="switchOn" name="switchOn" checked="true" />
                        <label for="switchOn">On</label>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="control-group">
                        <input type="checkbox" class="switch" id="switchOff" name="switchOff" />
                        <label for="switchOff">Off</label>
                    </div>
                </div>
            </div>
        </section>

        <section class="component-example">
            <a id="components"></a>
            <h6>Base Component Styles</h6>
            <p>Padding, margins, responsive changes. Every project has components and they should all behave consistently.</p>
            <div class="component padding-test">
    			<div class="widget-copy">
    				<h2 class="mobile">Component Mobile Padding - 40px 20px</h2>
    				<h2 class="tablet">Component Tablet Padding - 40px 40px</h2>
    				<h2 class="desktop">Component Desktop Padding - 60px 30px</h2>
    			</div>
    		</div>
        </section>

        <section class="accordion-eg">
            <a id="accordions"></a>
            <h6>Accordions</h6>
            <p>Accordion example goes here</p>
        </section>

        <section class="pagination-eg">
            <a id="pagination"></a>
            <h6>Pagination</h6>
            <p>Pagination example, this depends if it's Kentico driven or not.</p>
        </section>
    </div>
</div>
