// HEADER Styles
// -----------------------------------------------------------------------------
header {
    padding: $base-component-mobile-padding;
    border-bottom: 1px solid $color-border;
    overflow: hidden;

    .logo {
        float: left;
    }

    nav {
        margin-top: 80px;
        float: right;

        a {
            margin-right: 20px;
        }
    }
}

@media (min-width: $screen-sm) {
	header {
        padding: $base-component-tablet-padding;
	}
}

@media (min-width: $screen-md) {
	header {
        padding: $base-component-desktop-padding;
	}
}
