<header class="">
	<a href="/" class="snooze-logo">
		<img class="logo" src="http://placehold.it/150x100" alt="Client Logo">
	</a>

	<nav>
		<a href="#">About Us</a>
		<a href="#">News</a>
		<a href="#">Careers</a>
		<a href="#">Contact Us</a>
	</nav>
</header>
