<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>GS Fed Boilerplate</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    </head>
    <body>
        {{> component-header }}

        <div class="page-content">
            {% body %}
        </div>

        {{> component-footer }}

        {{> component-outdated-browser }}

        <script src="js/scripts.js"></script>
    </body>
</html>
