footer {
	padding: $base-component-mobile-padding;
	border-top: 1px solid $color-border;
	overflow: hidden;

	.footer-sitemap {
		display: flex;
		justify-content: space-between;

		nav {
			width: 200px;
		}
	}

	.footer-copyright {
		margin-top: 30px;
		text-align: center;
	}
}

@media (min-width: $screen-sm) {
	footer {
        padding: $base-component-tablet-padding;
	}
}

@media (min-width: $screen-md) {
	footer {
        padding: $base-component-desktop-padding;
	}
}
