<footer class="">
    <div class="footer-sitemap">
        <nav class="sitemap-example">
            <h3>Example</h3>
           	<a href="#">Finance Options</a>
        	<a href="#">Mattress Buying Guide</a>
        	<a href="#">Bedding Buying Guide</a>
        	<a href="#">Snooze Process</a>
        	<a href="#">Terms &amp; Conditions</a>
        	<a href="#">Care Information</a>
        	<a href="#">Privacy</a>
        	<a href="#">Disclaimer</a>
        </nav>

        <nav class="sitemap-another-example">
            <h3>Site</h3>
            <a href="#">Beds</a>
            <a href="#">Bedroom Furniture</a>
            <a href="#">Kids Bedroom</a>
            <a href="#">Mattresses &amp; Bases</a>
            <a href="#">Bedding</a>
        </nav>

        <nav class="sitemap-yet-another">
            <h3>Map</h3>
            <a href="#">Bold &amp; Beautiful</a>
            <a href="#">Classic</a>
            <a href="#">Contemporary</a>
            <a href="#">Country and Coastal</a>
            <a href="#">Shabby Chic</a>
            <a href="#">Kids</a>
        </nav>
    </div>
    <div class="footer-copyright">
        <span class="copyright">&copy; 2016 - GS FED Boilerplate. All Rights Reserved</span>
        <span class="design">
        	<a href="http://www.getstarted.com.au/" target="_blank">Design and Development by Get Started</a>
        </span>
    </div>
</footer><!-- END .master-footer -->
