.mobile {
    display: block;
}

.tablet,
.desktop {
    display: none;
}

@media (min-width: $screen-sm) {
    .tablet {
        display: block;
    }

    .mobile,
    .desktop {
        display: none;
    }
}

@media (min-width: $screen-md) {
    .desktop {
        display: block;
    }

    .mobile,
    .tablet {
        display: none;
    }
}

.kitchen-sink {

    section {
        display: block;
        padding: 40px 0;
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid $color-border;
    }

    .intro {
        // font-family: 'Helvetica', Arial, sans-serif;
        // text-align: center;
        // border-bottom: 1px solid $color-border;
        // width: 100%;
        // display: block;
        // margin-bottom: 30px;
        //
        // h1 {
        //     @include font-size(40);
        //     font-weight: bold;
        //     text-transform: uppercase;
        // }
        //
        // h2 {
        //     color: #8894AB;
        //     @include font-size(25);
        // }
    }

    h6 {
        @include font-size(22);
        text-align: center;
        font-weight: 600;
        margin: 0 0 30px 0;
    }

    .breakpoints {
        span {
            width: 150px;
            float: left;
            display: block;
            font-weight: bold;
        }
    }

    .buttons {
        .btn {
            float: left;
            margin-right: 30px;
        }

        .bg-colour {
            float: left;
            padding: 30px;
            margin-right: 30px;

            .btn {
                margin: 0;
            }
        }
    }

    .colours {
        width: calc(100% + 30px);
        overflow: hidden;

        .colour {
            width: calc(25% - 30px);
    		float: left;
    		margin-right: 30px;
    		margin-bottom: 30px;
            border: 1px solid $color-light-grey-eb;

            div {
                display: block;
                width: 100%;
                height: 180px;
            }

            span {
                display: block;
                height: 40px;
                line-height: 40px;
                text-align: center;
                color: $color-black;
                border-top: 1px solid $color-light-grey-eb;
            }
        }
    }

    .component.padding-test {
    	background-color: $color-border;
    	border-bottom-color: $color-orange;

    	.widget-copy {
    		overflow: hidden;
    		background-color: #888;

            h2 {
                margin-bottom: 0;
            }
    	}
    }
}

@media (min-width: $screen-sm) {
    .kitchen-sink {
        .intro h1 {
            @include font-size(66);
        }

        .intro h2 {
            @include font-size(34)
        }
    }
}
