// Fontsize
//----------------------------------------
@mixin font-size($font-size: 16){
font-size : #{$font-size}px;
font-size : #{$font-size / 10}rem; }

@mixin line-height($line-height: 16){
line-height : #{$line-height}px;
line-height : #{$line-height / 10}rem; }

// Clearfix
//----------------------------------------
@mixin clearfix {
//*zoom : 1;
&:before,
&:after {
display: table;
content : ""; }
&:after {
clear : both; } }


// Vertically center content block in relatively
// positioned parent
//----------------------------------------
@mixin vertical-center() {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
